@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --red: 14deg, 86%, 42%;
    --green: 159deg, 69%, 38%;
    --rose-50: 20deg, 50%, 98%;
    --rose-100: 13deg, 31%, 94%;
    --rose-300: 14deg, 25%, 72%;
    --rose-400: 7deg, 20%, 60%;
    --rose-500: 12deg, 20%, 44%;
    --rose-900: 14deg, 65%, 9%;
  }
}



body {
  @apply bg-rose-50;
}

.container{
   font-family: 'Red Hat Text', sans-serif;
}
